<!--
  <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<app-first companyName ="{{companyName}}"> </app-first>

<app-dir></app-dir>

<app-template-register></app-template-register>
-->
<app-posts-list></app-posts-list>

<!--
<h1>Login</h1>

<app-reactive-register></app-reactive-register>
-->

<ul style="display: inline">
  <li>
    <a routerLink="/posts">Posts</a>
  </li>
    <a routerLink="/login"></a>
  <li>
  </li>
</ul>

<router-outlet></router-outlet>